body{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;;
    padding: 0%;
}

.continer{
    /* border: 2px solid black; */
    width:100%;
    height:100vh;
    position: relative;
}
.set1{
    width: 100%;
    height: 200px;
    
    position: absolute;
    top:0%;
   position: fixed;
   top: 0;
   left: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(imgs/images4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 99;
}
.set1 h2{
    margin-left: 30%;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-family: serif;
}
.set1 .pi{
  
    
    color:rgb(187, 81, 187);
    font-weight: bold;
    font-family: serif;
    margin-left: 30%;
    margin-top: -15px;
} 
  .set1 .po{
    margin-left: 5%;
    margin-top: 30px;
    color:rgb(187, 81, 187);
    font-weight: bold;
    font-family: serif;
    font-size: 15px;
  }   
  .sre{
    padding: 5px;
    margin-top: 7px;
    border-radius: 10px;
    outline: none;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top: none;
    border-bottom: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
   
    font-family: serif;
    margin-left: 40px;
    cursor: pointer;
  }
  .sre::placeholder{
    font-size: 20px;
    font-weight: bold;

  }
 .srs{
    padding: 10px;
    border-radius: 10px;
    width: 700px;
    margin-left: 0px;
    margin-bottom: 50px;
    margin-top: 7px;
    outline: none;
    border: none;
    border-right: 3px solid black;
    border-left: 3px solid black;
    position: absolute;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
 }
 
 .b1{
  position: relative;
 }
 .search{
   width: 1080px;
   height: 50px;
   background-color: whitesmoke;
   border-radius: 10px;
   position: fixed;
   top: 10%;
   left: 10%;
   position: absolute;
   position: relative;
   margin-left: 70px;
 }
 .search #nnn{
 position: absolute;
 left: 90%;
font-size: 20px;
margin-top: 10px;
color: royalblue;
cursor: pointer;
 }
 .ad :active {
background-color: red;
font-size: 40px;
 }
 .ses2{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
position:absolute;
 
  bottom: 0px;
  background-color: #a5a1a1;
 }
 .ses2 h1{

 position: absolute;
 top: 35%;
left: 40%;
 font-weight: bold;
 font-family: serif;
 text-transform: uppercase;
 letter-spacing: 2px;
 }
 .ses2  .pp{
margin-left: 30%;
 
position: absolute;
top: 50%;
left: -5%;
font-size: 20px;
color: rgb(70, 64, 64);
font-family: 'Times New Roman', Times, serif;
margin-top: -10px;
 }
 .ses2  .py{
  position: absolute;
top: 50%;
left: 35%;
font-size: 20px;
color: rgb(70, 64, 64);
font-family: 'Times New Roman', Times, serif;
 }
 .d1{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
  margin-top: 30%;
  margin-left: 20%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
 text-transform: capitalize;
 }
 .d1:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 .d1 h4{
position: absolute;
top: -24px;
left: 70px;
font-size: 20px;
 }
 .d1 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d1 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .d2{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
  margin-top: -6%;
  margin-left: 45%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
  text-transform: capitalize;
 }
 .d2:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 .d2 h4{
  position: absolute;
  top: -24px;
  left: 70px;
  font-size: 20px;
 }
 .d2 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d2 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .d3{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
  margin-top: -6%;
  margin-left: 70%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
  text-transform:capitalize;
 }
 .d3:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 .d3 h4{
  position: absolute;
  top: -24px;
  left: 70px;
  font-size: 20px;
 }
 .d3 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .d3 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d4{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
  margin-top: 7%;
  margin-left: 20%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
 }
 .d4:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 .d4 h4{
  position: absolute;
  top: -24px;
  left: 70px;
  font-size: 20px;
 }
 .d4 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d4 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .d5{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
  bottom: 70px;
  margin-left: 46%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
 }
 .d5:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 .d5 h4{
  position: absolute;
  top: -24px;
  left: 70px;
  font-size: 20px;
 }
 .d5 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d5 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .d6{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
  bottom: 140px;
  margin-left: 70%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
 }
 .d6:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 .d6 h4{
  position: absolute;
  top: -24px;
  left: 70px;
  font-size: 20px;
 }
 .d6 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d6 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .www{
  width: 100%;
  height: 100%;
  background-color: #a5a1a1;
  top:-160px;
  /* bottom: 30%; */
  z-index: -1;
  position: relative;
 }
 .www h1{
position: absolute;
left: 40%;
top:10% ;
font-weight: bold;
 font-family: serif;
 text-transform: uppercase;
 letter-spacing: 2px;
 }
 .po{
  position: absolute;
  left: 30%;
  top: 20%;
  font-size: 20px;
color: rgb(70, 64, 64);
font-family: 'Times New Roman', Times, serif;
 }
 .px{
  position: absolute;
  left: 40%;
  top: 25%;
  font-size: 20px;
color: rgb(70, 64, 64);
font-family: 'Times New Roman', Times, serif;
 }
 .d7{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
  top: 40%;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
  top: 39%;
  left: 10%;
 }
 .d7:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 .d7 h4{
  position: absolute;
  text-transform: capitalize;
  top: -24px;
  left: 70px;
  font-size: 20px;
 }
 .d7 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d7 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .d8{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
  top: 28%;
  left: 45%;
  /* margin-left: 40%; */
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
 
 }
 .d8:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 
 .d8 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .d8 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d8 h4{
  position: absolute;
  top: -24px;
  left: 70px;
  font-size: 20px;
  text-transform: capitalize;
 }
 .d9{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
  left: 70%;
  top: 17%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
 }
 .d9:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 .d9 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .d9 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d9 h4{
  position: absolute;
  top: -24px;
  left: 70px;
  font-size: 20px;
  text-transform: capitalize;
 }
 .d10{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
 
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
  left: 20%;
  top: 30%;
 }
 .d10:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 .d10 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d10 h4{
  position: absolute;
  top: -24px;
  left: 70px;
  font-size: 20px;
  text-transform: capitalize;
 }
 .d10 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .d11{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
  
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
  left: 45%;
  top: 18%;
 }
 .d11:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 .d11 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .d11 h4{
  position: absolute;
  top: -24px;
  left: 70px;
  font-size: 20px;
  text-transform: capitalize;
 }
 .d11 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d12{
  width: 250px;
  height: 60px;
  background-color: whitesmoke;
  left: 70%;
  top: 6%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  box-shadow: inset 0px 0px 10px black;
  padding: 6px;
  position: relative;
 }
 .d12:hover{
  box-shadow: inset 5px 5px 20px black, inset -5px -5px 20px black;
 }
 .d12 p{
  font-size: 15px;
  position: absolute;
  width: 50%;
  left:70px ;
  top: 10%;
  font-weight: bold;
  font-style: italic;
  color: rgb(70, 64, 64);
 }
 .d12 h4{
  position: absolute;
  top: -24px;
  left: 70px;
  font-size: 20px;
  text-transform: capitalize;
 }
 .d12 img{
  position: absolute;
  width: 50px;
  height: 50px;background-color: yellow;
  filter: drop-shadow(10px 10px 3px #a5a1a1);
  border-radius: 10px;
 }
 .pw{
  position: absolute;
  top: 20%;
  left: 35%;
  font-size: 20px;
  color: rgb(70, 64, 64);
  font-family: 'Times New Roman', Times, serif;
 }
 ::-webkit-scrollbar{
  width: 50px;
  height: 50px;
  background-color: red;
 }
 ::-webkit-scrollbar-track{
  width: 50px;
  height: 50px;
  background-color: red;
 }
 ::-webkit-scrollbar-thumb{
  background-color: blue;
  border-radius: 10px;
 }